<nav class="navbar">
  <div class="navbar-container">
    <div class="logo flex justify-center">
      <a href="/" class=""><img src="../../static/favicon.ico" alt="" ></a>
      <a href="/" class="mx-2 text-4xl">NewsAggr</a>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="#">Politics</a></li>
      <li><a href="#">Business</a></li>
      <li><a href="#">Technology</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Entertainment</a></li>
    </ul>
    <div class="search-bar">
      <input type="text" placeholder="Search news..." />
    </div>
  </div>
</nav>
